<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FlyingPorn</title>
</head>
    
<body>

    <h1>This is a porn website made by FLyingPorn Corp.</h1>
    <div id=”UploadBox”>
        <h2>Video Uploader</h2>

        <form action="/" method="post" enctype="multipart/form-data">
            <input type="file" name="filename">
            <input type="text" id="namee" name="nameee">
            <button id="buttoon">pars to server</button>
            <input type="text" id="postName" name="Text">


            <p>type the id number of the video :)</p>
            

            <section id="postt">

                
            </section>
        </form>

        <input type="text" name="find" id="find">
        <button id="findbutton" name="findbutton">delete from json button</button>
        <p>press the updateWebsite button if you updated the server.</p>
        <button id="updateWebsite" name="updateWebsite"> Update website button</button>
        
    </div>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="post.js"></script>
</body>


</html>