<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FlyingPorn</title>
</head>

<body>

    <h1>This is a porn website made by FLyingPorn Corp.</h1>
        <h2>Video Uploader</h2>
        <section id="postt"></section>
        
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="post.js"></script>
</body>


</html>