<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FlyingPorn | Welcome</title>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <style>
        /* body */
        * {
        box-sizing: border-box;
        }
        body {
        
        margin: 0;
        }


        /* Header */
        header {
        background: #333;
        margin-top: -15px;
        padding-top: 3px;
        padding-bottom: 3px;
        border-bottom: 2px solid #61B3FC;
        }

        .Logo {
        text-align: top;
        font-family: helvetica;
        margin-left: 15px;
        }

        h1 {
        color: white;
        }

        h4 {
        margin-top: -20px;
        color: white;
        }
        mark.blue {
        color: #61B3FC;
        background: none;
        }

        /* topnav */
        .topnav {
        overflow: hidden;
        background-color: #333;


        }

        .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        margin-left: 0px;
        font-family: helvetica;
        border-bottom: 1px solid #61B3FC;
        border-right: 1px solid #61B3FC;
        }

        .topnav a:hover {
        background-color: rgb(32, 23, 23);
        color: black;
        }

        .topnav a.active {
        background-color: #61B3FC;
        color: white;
        }

       
    
    
    
    
    </style>

</head>
<body>
    <nav>
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="#pictures">Pictures</a>
        <a href="#categories">Categories</a>
        <a href="#about">About</a>
      </div>
    </nav>
<header>
    <div class="Logo">
    <h1>Flying<mark class="blue">Porn</mark></h1>
    <h4> For a better wanking experience! </h4>
    </div>
    
    
    <div class="header">

    </div>

</header>
    <div name="postt" id="postt">




    </div>


<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="post.js"></script>

</body>
</html>