/* body */
* {
    box-sizing: border-box;
}
body {
    background-color: black;
    margin: 0;
}


/* Header */
header {
    background: #333; 
    margin-top: -15px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 2px solid #61B3FC;
}

.Logo {
    text-align: top;
    font-family: helvetica;
    margin-left: 15px;
}

h1 {
    color: white;
}

h4 {
    margin-top: -20px;
    color: white;
}
mark.blue {
    color: #61B3FC;
    background: none;
}

/* topnav */
.topnav {
    overflow: hidden;
    background-color: #333;

    
  }
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 0px;
    font-family: helvetica;
    border-bottom: 1px solid #61B3FC;
    border-right: 1px solid #61B3FC;
  }
  
.topnav a:hover {
    background-color: rgb(32, 23, 23);
    color: black;
  }
  
.topnav a.active {
    background-color: #61B3FC;
    color: white;
  }



 

  

